@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'League Spartan', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* Navigation */
* {
  list-style: none;
}
.navigation {
  position: fixed;
  background-color: #000000e9;
  backdrop-filter: blur(5px);
  z-index: 1000;
  font-family: "Open Sans", sans-serif;
}

.navigation .navImg {
  width: 150px;
}

.custom-navbar-toggle {
  background-color: #c5fd7a;
  border-color: #c5fd7a;
}

.logout-btn {
  margin: 0 auto;
  display: block !important;
}

.logo {
  width: 50px;
}

#basic-nav-dropdown {
  color: #fff;
}

#cartcount {
  font-size: 10px;
  background-color: red;
  color: #fff;
  padding: 2px 4px;
  vertical-align: top;
  margin-left: -8px;
  border-radius: 50%;
  margin-top: -5px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
}

.fa-shopping-cart {
  font-size: 20px;
}

/* Home */
.Home {
  font-family: "Open Sans", sans-serif;
  background: #fbfaf8;
  color: #000;
}

.Home .homeContainer {
  max-width: 1440px;
  margin: auto;
}

.Home .hero {
  font-family: "League Spartan", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 0 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
}

.Home .hero img {
  width: 400px;
  margin: 10px;
  margin: 80px 0;
  box-shadow: 7px 7px 8px 1px #464646d1;
}

.Home .hero .contain {
  width: 499px;
}

.Home .hero .contain p {
  font-family: "Open Sans", sans-serif;
}

.Home .hero .contain a {
  font-family: "Open Sans", sans-serif;
  color: #000;
  background-color: #c5fd7a;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 4px;
}

.Home img {
  width: 100%;
}

.Home #catp {
  padding: 3rem;
  max-width: 1440px;
  margin: auto;
}

.Home .homeContainer .seemore {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #000;
  margin: 40px auto 10px;
  font-size: 12px;
  padding: 8px;
  background-color: #c5fd7a;
  width: 300px;
  border-radius: 4px;
  font-weight: 500;
}

.Home #catp {
  margin-top: 100px;
}

.category-tile {
  height: 250px;
  background-size: cover;
  background-position: center;
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 30px;
}

.card {
  border: none !important;
  width: 17rem !important;
}

img.card-img-top.product-preview-img {
  border-radius: 10px;
}

.category-tile:hover {
  transform: scale(1.05);
}

.Home .why-choose-us {
  margin: 150px 0 100px;
  text-align: center;
}

.Home .why-choose-us .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Home .why-choose-us .container .row {
  max-width: 400px;
  margin: 12px;
}

.Home .why-choose-us h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.Home .why-choose-us p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  color: #333;
}

/* login */
/* signup */
.login__form--container,
.signup__form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
  margin: auto;
}

/* NewProduct */
.new-product__form--container {
  margin: auto;
}

.images-preview-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100px, 100%), 1fr));
  gap: 10px;
  margin: 40px 0;
}

.image-preview {
  width: 100px;
  display: inline-block;
  position: relative;
}

.image-preview img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.image-preview i,
.remove-img-spinner {
  position: absolute;
  top: -12px;
  left: -12px;
  font-size: 20px;
  cursor: pointer;
}

.image-preview i:hover {
  color: orange;
}

/* Product page */
.product__carousel--image {
  max-width: 100%;
  object-fit: cover;
  max-height: 500px;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}

/* category page */
.category-page-container {
  min-height: 90vh;
}

.category-banner-container {
  height: 200px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media screen and (max-width: 768px) {
  .Home img {
    width: 93%;
  }
  .Home #catp {
    padding: 1rem;
  }

  .Home .hero {
    margin-top: 0;
    gap: 0;
  }

  .Home .hero img {
    width: 300px;
  }
  .Home .hero .contain {
    padding: 0 15px;
    text-align: center;
  }

  .Home .hero .contain h4 {
    font-size: 17px;
  }

  .card {
    width: 28rem !important;
  }
}

@media screen and (max-width: 426px) {
  .navigation .navImg {
    width: 130px;
  }

  .card {
    width: 22rem !important;
  }
}
